# I installed the .ignore Intellij plugin in order to right click and add these files to git ignore
# these files are all gradle or workspace files that I do not plan on sending to github

# doing this allows me to clear up my Git Tool in Intellij
/build.gradle
/.gradle/buildOutputCleanup/cache.properties
/.gradle/7.5.1/checksums/checksums.lock
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.idea/compiler.xml
/.gradle/7.5.1/dependencies-accessors/dependencies-accessors.lock
/.gradle/7.5.1/executionHistory/executionHistory.bin
/.gradle/7.5.1/executionHistory/executionHistory.lock
/.gradle/file-system.probe
/.gradle/7.5.1/fileHashes/fileHashes.bin
/.gradle/7.5.1/fileHashes/fileHashes.lock
/build/classes/java/main/forLoop.class
/.gradle/7.5.1/dependencies-accessors/gc.properties
/.gradle/7.5.1/gc.properties
/.gradle/vcs-1/gc.properties
/.idea/gradle.xml
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradlew
/gradlew.bat
/build/classes/java/main/Helper.class
/.idea/jarRepositories.xml
/.gradle/7.5.1/fileChanges/last-build.bin
/build/classes/java/main/Main.class
/.idea/misc.xml
/build/classes/java/main/nestedLoop.class
/.gradle/buildOutputCleanup/outputFiles.bin
/build/tmp/compileJava/previous-compilation-data.bin
/.gradle/7.5.1/fileHashes/resourceHashesCache.bin
/settings.gradle
/.idea/vcs.xml
/build/classes/java/main/whileLoop.class
/.idea/workspace.xml
